$color-background: rgba(255, 255, 255, 0.7);
$color-border: rgba(209, 219, 255, 0.7);
$color-scrollbar: rgba(71, 138, 184, 0.5);
$color-text-basic: #478ab8;
$color-text-highlighted: #ff5cb8;
$color-text-light: #ebefff;
$color-text-lightbold: rgba(71, 138, 184, 0.5);
$color-text-titlegradient: linear-gradient(to bottom, #94b7e0, #508fbc);
