@import "../var";

/* ------- */
/* GENERAL */
/* ------- */

html {
    overflow-x: hidden;
}

body {
    background-image: url("/$src/img/bg/home1.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: simple, sans-serif;
    font-size: clamp(1rem, 3vw, 2.03rem);
    overflow-x: hidden;
}

p,
a {
    line-height: 0.65;
}

h2 {
    font-family: daydream, sans-serif;
    font-size: 0.5em;
    background: $color-text-titlegradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0.5em;
}

h3 {
    font-weight: normal;
}

img {
    image-rendering: pixelated;
}

.box {
    padding: 0.75em;
}

main {
    position: relative;
    margin: 6vh 0.8em 0 0.8em;
    max-width: 35.8em;
    display: grid;
    grid-template-columns: 1fr;
    // grid-template-rows: 1fr 1fr 1fr;
    gap: 0.4em 0.4em;
    grid-template-areas:
        "first_block"
        "second_block"
        "third_block";

    .first_block {
        grid-area: first_block;
    }

    .second_block {
        grid-area: second_block;
    }

    .third_block {
        grid-area: third_block;
    }
}

.chains {
    z-index: 99;
    position: absolute;
    background-image: url("/$src/img/deco/chains.png");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    pointer-events: none;
}

/* ----------- */
/* FIRST BLOCK */
/* ----------- */

.first_block {
    height: 14.2em;
    min-height: 370px;
    width: 100%;
    display: grid;
    grid-template-columns: 0.8fr 2.9fr 1.2fr;
    gap: 0.4em 0.4em;

    &--left_block {
        display: flex;
        flex-direction: column;
        transform: rotate(-2deg);
    }
}

/* MUSICPLAYER */
.music_player {
    padding: 0;
    border: double 8px #759EED;

    &--title {
        color: white;
        display: flex;
        justify-content: center;
        height: 2rem;
        background: radial-gradient(circle, #2971EA 14%, #759EED 100%);
        align-items: center;
    }

    .smilies {
        padding-right: .4rem;
    }

    &--main {
        background-color: white;
        display: flex;
        position: relative;
        overflow: hidden;
        height: 8rem;
        flex-direction: column;
        justify-content: space-between;
    }

    &--track_name {
        z-index: 1;
        color: white;
        margin: .2em;
        text-shadow: 0px 0px 5px rgba(0, 94, 255, 1),
        -1px -1px 5px rgba(10, 32, 75, 0.684);
    }

    &--controls {
        height: 2em;
        display: flex;
        justify-content: center;
        gap: .2em;
        align-items: end;
        padding-bottom: .4em;
        z-index: 1;
        background: linear-gradient(to bottom, rgba(117, 158, 237, 0) 0%, rgba(41, 113, 234, 0.8) 90%);

        img {
            height: 100%;
            height: 1em;
            cursor: pointer;
            transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);

            &:hover {
                transform: scale(110%);
            }

            &:active {
                transform: scaleX(90%) scaleY(70%);
            }
        }
    }

    &--background {
        position: absolute;
        filter: blur(2px);
        z-index: 0;
        top: -0.5em;
        min-height: 100%;
        object-fit: cover;
    }
}

/* MENU */
.menu {
    position: relative;
    overflow: auto;
    padding: 0.5em;
    /* width: 27%; */
    margin-top: .2em;
    height: 100%;

    &--section {
        margin-bottom: 0.5em;

        &--title {
            font-size: 0.4em;
        }

        &--list {
            margin-bottom: 0.5em;

            &--item {
                margin-left: 0.4em;

                p {
                    display: flex;
                    flex-direction: column;
                }

                small {
                    font-family: kiwisoda, sans-serif;
                    font-size: 0.5em;
                }
            }
        }
    }

    &--subtext {
        position: absolute;
        bottom: 0;
        text-align: right;
        line-height: 0.5;
        padding-right: 0.4em;
        padding-bottom: 0.4em;
        opacity: 50%;
    }
}

/* HEADER */
.header {
    display: flex;
    max-width: 684px;
    position: relative;
    z-index: 10;

    &--container {
        width: 90%;
        display: flex;
        // margin-top: -4em;
        padding: 0.2em;
        // top: 15em;
        display: flex;
        justify-content: space-between;
        align-items: end;
        background-color: $color-scrollbar;
        transform: rotate(-3deg);
        animation: spin_headercontainer 3s ease-in-out infinite;

        &--title {
            font-family: daydream, sans-serif;
            font-size: 0.4em;
            color: white;
            font-weight: normal;
        }

        &--subtext {
            font-family: kiwisoda, sans-serif;
            font-size: 0.625em;
            color: $color-text-light;
        }
    }

    &--logo {
        position: absolute;
        width: 12em;
        top: -2.5em;
        right: -2em;
        z-index: 9;
        pointer-events: none;
    }
}

@keyframes spin_headercontainer {
    0% {
        transform: rotate(-6deg);
    }

    50% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(-6deg);
    }
}

/* INTRODUCTION */
.introduction {
    display: grid;
    height: inherit;
    min-height: inherit;
    width: 100%;
    // overflow: auto;
    // transform: rotate(3deg);

    &--container {
        overflow: auto;
        // height: inherit;
        margin-top: 0;
    }
}

.where_am_i {
    display: flex;
    position: relative;

    .mecat {
        width: 4em;
        transform: scaleX(-1);
    }

    &--text {
        margin-left: 1em;

        .slightly_larger {
            font-size: 1.4em;
            text-shadow:
                1px 1px 5px rgb(255, 255, 255),
                -1px -1px 5px rgba(106, 155, 255, 0.684);
        }
    }
}

.about_website {
    margin: 0.4em 0.4em 0.25em;
}

.note_about_website {
    ul {
        margin-left: 1em;
    }

    li {
        margin-top: 0.25em;
    }
}

.currently {
    margin-top: 1.75em;
    transform: rotate(2deg);
    overflow: auto;

    h2 {
        text-align: center;
        margin-bottom: 0;
    }

    .subtitle {
        font-size: 0.6em;
        text-align: center;
        margin-bottom: 0.75em;
    }

    &--list {
        &--item {
            margin-bottom: 0em;
            width: 90%;
            margin-bottom: 0.5em;

            h3 {
                font-family: kiwisoda, sans-serif;
                font-size: 0.7em;
            }

            &--bubble {
                background-image: url("/$src/img/deco/currently_bubble.png");
                background-size: cover;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                padding: 0.3em;
                font-size: 0.75em;
                border: 1px solid $color-scrollbar;
                // border: outset 2px $color-border;
                // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }

            &:nth-child(odd) {
                justify-self: left;
            }

            &:nth-child(even) {
                justify-self: right;
                text-align: right;
            }
        }
    }
}

/* ------------ */
/* SECOND BLOCK */
/* ------------ */

.second_block {
    height: 7.5em;
    min-height: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: 0.6fr 0.9fr 0.9fr 0.6fr;
    gap: 0.4em 0.4em;
}

/* COMMUNITY */
.community {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: inherit;
    min-height: inherit;

    h2 {
        font-size: 0.4em;
        text-align: center;
        margin-bottom: 0.5em;
    }

    &--webrings {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
    }

    .goofy_ah_webring {
        text-align: center;
        border: 1px solid black;
        font-family: "Comic Sans MS";
        // background-color: white;
        padding: 0.5em;
        font-size: 0.33em;

        p {
            line-height: normal;
            color: black;
        }

        .smilies {
            width: 2em;
            height: auto;
        }

        &--mascot {
            width: 5em;
        }

        &--links {
            display: flex;
            justify-content: center;
            gap: 0.5em;
            flex-wrap: wrap;
            // flex-direction: line;

            a {
                display: flex;
                gap: 0.25em;
            }
        }
    }

    // &--container {
    //     display: flex;
    //     justify-content: space-between;
    //     margin-top: 0.5em;
    // }

    // &--item {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     margin: 0.5em;

    //     img {
    //         height: 2em;
    //     }

    //     p {
    //         font-size: 0.8em;
    //         margin-top: 0.25em;
    //     }
    // }
}

/* ABOUT ME */
.about_me {
    overflow: auto;
    margin-top: 0;

    h2 {
        font-size: 0.4em;
        position: relative;

        img {
            position: absolute;
            height: 2em;
            margin-left: 1em;
            bottom: 0.05em;
        }
    }

    p {
        font-size: 0.8em;
        margin-bottom: 0.2em;
    }

    &--intro {
        display: flex;
        flex-direction: line;
    }

    ul {
        margin-left: 0.5em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;

        li {
            margin-top: 0.2em;

            p {
                margin-bottom: 0;
            }

            .float {
                animation: float 0.2s ease-in infinite;
            }
        }
    }

    &--socials {
        text-align: center;
        margin-top: 0.75em;
    }
}

// #whatsup {
//     margin-bottom: 1.25em;
// }

// #whatsup p {
//     text-align: center;
//     font-size: 1.25em;
//     transform: rotate(3deg);
// }

/* CODE OF HONOR */
.codeofhonor--container {
    height: inherit;
    position: relative;
    display: flex;
    min-height: inherit;
}

#codeofhonor {
    overflow: auto;
    margin-top: 0;
    margin-left: 0;
    position: relative;

    h2 {
        font-size: 0.4em;
    }

    &--description {
        /* margin-bottom: .5em; */
    }

    li {
        margin-top: 0.4em;
    }

    p {
        font-size: 0.8em;
    }

    &--gif {
        position: absolute;
        bottom: -0.3em;
        right: -1.25em;
        transform: rotateZ(-10deg);
        pointer-events: none;
    }
}

/* LISTENING TO */
.listening_to {
    display: flex;
    text-align: center;
    flex-direction: column;
    overflow: auto;
    overflow: hidden;
    padding: 0.5em;

    h2 {
        font-size: 0.4em;
        margin-bottom: 0.5em;
    }

    #cdcontainer {
        position: relative;
        display: flex;
        align-items: start;
        max-height: 4.4em;
        padding-left: 0.45em;
        background-image: url("/$src/img/deco/cdbox.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    #trackart {
        max-height: inherit;
        width: 4.22em;
    }

    #cd {
        position: absolute;
        width: 4.22em;
        top: 0.1em;
        right: 0;
        animation: cdspin 3s linear infinite;
        z-index: -1;
    }

    p {
        font-size: 0.75em;
        margin-bottom: 0.4em;
    }
}

@keyframes cdspin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* FEATURED VIDEO */
#featuredvideo {
    position: relative;
    margin-left: 0;

    h2 {
        text-align: center;
        margin-bottom: 1em;
    }

    .video {
        height: 6em;
    }
}

/* ------ */
/* FOOTER */
/* ------ */

footer {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .box {
        margin-top: 0;
    }

    #list8831 {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .badge8831 {
        height: 1em;
    }

    #legal {
        color: white;
        text-shadow:
            1px 1px 5px rgb(255, 255, 255),
            -1px -1px 5px rgb(26, 102, 254);
    }
}